<%= javascript_pack_tag 'main' %>
<h1><%= t('.title') %></h1>
<div class="row"><%= t('.description') %></div>
<div class="row">
  <% if user_signed_in? %>
    <%= link_to t('.search_books'), books_search_path, class: default_btn_class %>
    <%= link_to t('.your_books'), user_books_path, class: default_btn_class %>
  <% else %>
    <%= link_to t('.signup'), new_user_registration_path, class: session_btn_class %>
    <%= link_to t('.login'), new_user_session_path, class: session_btn_class %>
  <% end %>
</div>

<div id="app">
  <router-view></router-view>
</div>
