<ul class="calender-collection">
  <li class="calender-collection-header"><h2><%= @month[0].strftime('%B') %></h2></li>
  <% month.each do |day| %>
    <% link_path = if hst_user_read_books.key?(day.strftime('%Y-%m-%d'))
                     edit_hst_user_read_book_path(hst_user_read_books[day.strftime('%Y-%m-%d')])
                   else
                     new_hst_user_read_book_path(user_book_id: user_book_id, date: day.strftime('%Y-%m-%d').to_s)
                   end %>
    <%= link_to link_path, class: 'calender-collection-item' do %>
      <div class="row margin-none-bottom">
        <div class="col s2 center">
          <div class="<%= week_day_class(day.wday) %>"><%= day.day %></div>
          <div class="<%= week_day_class(day.wday) %>"><%= day.strftime('%a') %></div>
        </div>
        <div class="col s10">
          <% if hst_user_read_books.key?(day.strftime('%Y-%m-%d')) %>
            <% hst_user_read_books[day.strftime('%Y-%m-%d')].each do |hst_user_read_book| %>
              <%= hst_user_read_book.comment %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</ul>